<section style="min-height:1000px;">
  <div class="page-header">
    <h1>Purchases</h1>
  </div>
  <div class="list-group">

    <!--<small class="list-group-item-text">
        Posted on
        <span ng-bind="purchase.created | date:'mediumDate'"></span>
        by
        <span ng-if="purchase.user" ng-bind="purchase.user.displayName"></span>
        <span ng-if="!purchase.user">Deleted User</span>
      </small>-->


    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Customer name</th>
            <th>Doc No.</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="purchase in vm.purchases " ui-sref="purchases.view({ purchaseId: purchase._id })">
            <td>{{$index+1}}</td>
            <td>
              <p class="list-group-item-heading" ng-bind="purchase.client.name"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="purchase.docno"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="purchase.amount"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.purchases.$resolved && !vm.purchases.length">
    No Purchases yet, why don't you <a ui-sref="purchases.create">create one</a>?
  </div>
</section>