<!--<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="company in vm.companies"
       ui-sref="companies.view({ companyId: company._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="company.created | date:'mediumDate'"></span>
        by
        <span ng-if="company.user" ng-bind="company.user.displayName"></span>
        <span ng-if="!company.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="company.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.companies.$resolved && !vm.companies.length">
    No Companies yet, why don't you <a ui-sref="companies.create">create one</a>?
  </div>
</section>-->
<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <div class="list-group">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Tax ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="company in vm.companies" ui-sref="companies.view({ companyId: company._id })">
            <td>{{$index+1}}</td>
            <td>
              <p class="list-group-item-heading" ng-bind="company.name"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="company.address"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="company.taxid"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.companies.$resolved && !vm.companies.length">
    No Company yet, why don't you <a ui-sref="companies.create">create one</a>?
  </div>
</section>
